In [1]:
%conda install sqlite3

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - sqlite3

Current channels:

  - https://repo.anaconda.com/pkgs/main/osx-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/osx-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.



Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlite3
import pandas as pd
con = sqlite3.connect('sql-murder-mystery.db')

In [44]:
#link info: https://www.sqlitetutorial.net/sqlite-show-tables/
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [42]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'crime_scene_report';")
print(cursor.fetchall())

('CREATE TABLE crime_scene_report (\n        date integer,\n        type text,\n        description text,\n        city text\n    )',)

In [41]:
cursor.execute("SELECT * FROM crime_scene_report where city = 'SQL City' and date = 20180115;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(20180115, 'assault', 'Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!', 'SQL City')


(20180115, 'assault', 'Report Not Found', 'SQL City')


(20180115, 'murder', 'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".', 'SQL City')

# Buscar testigos: (20180115, 'murder', 'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".', 'SQL City')

In [48]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'person';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

('CREATE TABLE person (\n        id integer PRIMARY KEY,\n        name text,\n        license_id integer,\n        address_number integer,\n        address_street_name text,\n        ssn integer,\n        FOREIGN KEY (license_id) REFERENCES drivers_license(id)\n    )',)

In [54]:
cursor.execute("SELECT * FROM person where address_street_name = 'Northwestern Dr' order by address_number DESC limit 1;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("Primer testigo")

(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', 111564949)
Primer testigo

In [57]:
cursor.execute("SELECT * FROM person where address_street_name = 'Franklin Ave' and name like '%Annabel%';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("Segundo testigo")

(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', 318771143)
Segundo testigo

# Buscar testimonios

In [59]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'interview';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

('CREATE TABLE interview (\n        person_id integer,\n        transcript text,\n        FOREIGN KEY (person_id) REFERENCES person(id)\n    )',)

In [61]:
cursor.execute("SELECT * FROM interview where person_id = 14887;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("Testimonio del primer testigo")

(14887, 'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".')
Testimonio del primer testigo

In [62]:
cursor.execute("SELECT * FROM interview where person_id = 16371;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("Testimonio del segundo testigo")

(16371, 'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.')
Testimonio del segundo testigo

# Buscar sospechoso del gym, membresia 48Z y es gold.

In [63]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [67]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'get_fit_now_member';")
print(cursor.fetchall())

[('CREATE TABLE get_fit_now_member (\n        id text PRIMARY KEY,\n        person_id integer,\n        name text,\n        membership_start_date integer,\n        membership_status text,\n        FOREIGN KEY (person_id) REFERENCES person(id)\n    )',)]

In [83]:
cursor.execute("SELECT * FROM get_fit_now_member where id like '48Z%' and membership_status = 'gold';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold')
('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold')

# Buscar licencia que incluya H42W

In [84]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'drivers_license';")
print(cursor.fetchall())

[('CREATE TABLE drivers_license (\n        id integer PRIMARY KEY,\n        age integer,\n        height integer,\n        eye_color text,\n        hair_color text,\n        gender text,\n        plate_number text,\n        car_make text,\n        car_model text\n    )',)]

In [115]:
cursor.execute("SELECT * FROM drivers_license where plate_number like '%H42W%' and gender = 'male';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(183779, 21, 65, 'blue', 'blonde', 'female', 'H42W0X', 'Toyota', 'Prius')
(423327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Chevrolet', 'Spark LS')
(664760, 21, 71, 'black', 'black', 'male', '4H42WR', 'Nissan', 'Altima')

# Join con personas y licencia

In [87]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [89]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'person';")
print(cursor.fetchall())

[('CREATE TABLE person (\n        id integer PRIMARY KEY,\n        name text,\n        license_id integer,\n        address_number integer,\n        address_street_name text,\n        ssn integer,\n        FOREIGN KEY (license_id) REFERENCES drivers_license(id)\n    )',)]

# Primer sospechoso

In [102]:
cursor.execute("SELECT person.id,  drivers_license.id, person.name, drivers_license.plate_number FROM person join drivers_license on (person.license_id = drivers_license.id)where (person.id = 28819 or person.id = 67318) and drivers_license.plate_number like '%42W%';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(67318, 423327, 'Jeremy Bowers', '0H42W2')

# Buscar pista de: fecha del gym 20180109 enero 9

In [103]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [105]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'get_fit_now_check_in';")
print(cursor.fetchall())

[('CREATE TABLE get_fit_now_check_in (\n        membership_id text,\n        check_in_date integer,\n        check_in_time integer,\n        check_out_time integer,\n        FOREIGN KEY (membership_id) REFERENCES get_fit_now_member(id)\n    )',)]

In [107]:
cursor.execute("Select * from get_fit_now_check_in where check_in_date = 20180109")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

('X0643', 20180109, 957, 1164)


('UK1F2', 20180109, 344, 518)


('XTE42', 20180109, 486, 1124)


('1AE2H', 20180109, 461, 944)


('6LSTG', 20180109, 399, 515)


('7MWHJ', 20180109, 273, 885)


('GE5Q8', 20180109, 367, 959)


('48Z7A', 20180109, 1600, 1730)


('48Z55', 20180109, 1530, 1700)


('90081', 20180109, 1600, 1700)

In [108]:
cursor.execute("Select * from get_fit_now_member join get_fit_now_check_in on (get_fit_now_member.id = get_fit_now_check_in.membership_id) where check_in_date = 20180109")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

('X0643', 15247, 'Shondra Ledlow', 20170521, 'silver', 'X0643', 20180109, 957, 1164)


('UK1F2', 28073, 'Zackary Cabotage', 20170818, 'silver', 'UK1F2', 20180109, 344, 518)


('XTE42', 55662, 'Sarita Bartosh', 20170524, 'gold', 'XTE42', 20180109, 486, 1124)


('1AE2H', 10815, 'Adriane Pelligra', 20170816, 'silver', '1AE2H', 20180109, 461, 944)


('6LSTG', 83186, 'Burton Grippe', 20170214, 'gold', '6LSTG', 20180109, 399, 515)


('7MWHJ', 31523, 'Blossom Crescenzo', 20180309, 'regular', '7MWHJ', 20180109, 273, 885)


('GE5Q8', 92736, 'Carmen Dimick', 20170618, 'gold', 'GE5Q8', 20180109, 367, 959)


('48Z7A', 28819, 'Joe Germuska', 20160305, 'gold', '48Z7A', 20180109, 1600, 1730)


('48Z55', 67318, 'Jeremy Bowers', 20160101, 'gold', '48Z55', 20180109, 1530, 1700)


('90081', 16371, 'Annabel Miller', 20160208, 'gold', '90081', 20180109, 1600, 1700)

# Jeremy Bowers coincide con ambos testimonios.

In [109]:
cursor = con.cursor()
sql = "INSERT INTO solution VALUES (1, 'Jeremy Bowers')"
cursor.execute(sql)
con.commit()
var = pd.read_sql("SELECT value FROM solution", con)
var.iloc[0,0]

"Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villian behind this crime. If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. Use this same INSERT statement with your new suspect to check your answer."

# Jeremy Bowers es el asesino

# Ver las interviews de Jeremy Bowers

In [110]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [112]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'interview';")
print(cursor.fetchall())

[('CREATE TABLE interview (\n        person_id integer,\n        transcript text,\n        FOREIGN KEY (person_id) REFERENCES person(id)\n    )',)]

In [114]:
cursor.execute("Select * from interview where person_id = 67318")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(67318, 'I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n')

# Buscar a la mujer: 65 o 67, pelo rojo, Tesla Model S

In [116]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [118]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'drivers_license';")
print(cursor.fetchall())

[('CREATE TABLE drivers_license (\n        id integer PRIMARY KEY,\n        age integer,\n        height integer,\n        eye_color text,\n        hair_color text,\n        gender text,\n        plate_number text,\n        car_make text,\n        car_model text\n    )',)]

In [127]:
cursor.execute("Select * from drivers_license where (height = 65 or height = 67) and hair_color = 'red' and gender = 'female' and car_make = 'Tesla' and car_model = 'Model S';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(918773, 48, 65, 'black', 'red', 'female', '917UU3', 'Tesla', 'Model S')

# Licencia encontrada: 918773, buscar persona

In [128]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [129]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'person';")
print(cursor.fetchall())

[('CREATE TABLE person (\n        id integer PRIMARY KEY,\n        name text,\n        license_id integer,\n        address_number integer,\n        address_street_name text,\n        ssn integer,\n        FOREIGN KEY (license_id) REFERENCES drivers_license(id)\n    )',)]

In [130]:
cursor.execute("Select * from person where license_id = 918773")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(78881, 'Red Korb', 918773, 107, 'Camerata Dr', 961388910)

# Red Korb

In [131]:
cursor = con.cursor()
sql = "INSERT INTO solution VALUES (1, 'Red Korb')"
cursor.execute(sql)
con.commit()
var = pd.read_sql("SELECT value FROM solution", con)
var.iloc[0,0]

"That's not the right person. Try again!"

# Ir a pista del evento: SQL Symphony Concert, 3 veces en diciembre 2017

In [132]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('crime_scene_report',)
('drivers_license',)
('person',)
('facebook_event_checkin',)
('interview',)
('get_fit_now_member',)
('get_fit_now_check_in',)
('income',)
('solution',)

In [134]:
cursor.execute("SELECT sql FROM sqlite_schema WHERE name = 'facebook_event_checkin';")
print(cursor.fetchall())

[('CREATE TABLE facebook_event_checkin (\n        person_id integer,\n        event_id integer,\n        event_name text,\n        date integer,\n        FOREIGN KEY (person_id) REFERENCES person(id)\n    )',)]

In [139]:
cursor.execute("Select person_id, count(*) from facebook_event_checkin where event_name = 'SQL Symphony Concert' and date between 20171201 and 20171231 group by person_id HAVING count(*) = 3")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(24556, 3)


(99716, 3)

In [140]:
cursor.execute("Select * from person where id = 24556 or id = 99716")
myresult = cursor.fetchall()
for x in myresult:
    print(x)
    print("\n")

(24556, 'Bryan Pardo', 101191, 703, 'Machine Ln', 816663882)


(99716, 'Miranda Priestly', 202298, 1883, 'Golden Ave', 987756388)

# Prueba con las personas que fueron al concierto 3 veces:
# Bryan Pardo 
# Miranda Priestly

In [142]:
cursor = con.cursor()
sql = "INSERT INTO solution VALUES (1, 'Miranda Priestly')"
cursor.execute(sql)
con.commit()
var = pd.read_sql("SELECT value FROM solution", con)
var.iloc[0,0]

'Congrats, you found the brains behind the murder! Everyone in SQL City hails you as the greatest SQL detective of all time. Time to break out the champagne!'

# Miranda Priestly es la que planeo el asesinato